body {
    background-color:#F2F2F2;
}
hr {
    border-color: grey;
    border-style: none;
    border-top-style:dotted;
    height:0px;
    border-width: 10px;
    width:5%;
}

img {
    height:250px;
}

h1 {
    color: #066163;
}

h3 {
    color: #066163;
}

