/************************************tag selectors********************************************/
body {
    background-color:#F2F2F2;
    font-size: 20px;
    position:relative;
    left:25px;
}
hr {
    border-color: grey;
    border-style: none;
    border-top-style:dotted;
    border-width: 10px;
    height:0px;
    width:5%;
}

img {
    height:250px;
}

h1 {
    color: #066163;
    font-family: arial;
}

h3 {
    color: #066163;
}

/**********************************class selectors*******************************/
/*.c1 {
    background-color: #066163;
    color : #F2F2F2;
}*/